@mixin wh($w:100px,$h:100px,$bg:red){
  width:$w;
  height:$h;
  background-color: $bg;
}
.one{
  @include wh;
}
.two{
  @include wh(150px,150px,pink);
}
@import "second.css";
*{
  margin: 0;
  padding: 0;
}
